$purple: #280223;
$yellow: #FFFF00;
$pink : #c95478;

.btn {
  color: $purple;
  background-color: $yellow;
  &:hover {
    color: $yellow;
    background-color: $purple;
  }
}

.form-select, option {
    border-radius: 0;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    background-color: #d9d9d9;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition:all ease-in-out 0.3s;
    cursor: pointer;
  }

.checkbox > input:checked {
    
}

.checkbox > input:checked + span::before {
    content: '\2713';    
    display: block;
    text-align: center;
    color: $pink;
    position: absolute;
    left: 0rem;
    top: -1rem;
    font-size: 40px;

}
.checkbox > input:active {
    border: 2px solid $pink;
}
.overlay {
    height:0px;
    overflow:visible;
    pointer-events:none;
    background:none !important;
}