.accountPage {
    background-color: white;
    color: black;
}

.changeBtn {
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
}

.updateMessage {
    color: green;
    margin-left: 20px;
}

.errorMessage {
    color: red;
    margin-left: 20px;
}
